[submodule "libs/CoreString"]
	path = libs/CoreString
	url = https://github.com/AmazingCow-Libs/CoreString
[submodule "libs/CoreFS"]
	path = libs/CoreFS
	url = https://github.com/AmazingCow-Libs/CoreFS
[submodule "libs/CoreFile"]
	path = libs/CoreFile
	url = https://github.com/AmazingCow-Libs/CoreFile
[submodule "libs/CoreAssert"]
	path = libs/CoreAssert
	url = https://github.com/AmazingCow-Libs/CoreAssert
